

/* svg {
    height: 70px;
    width: 70px;
} */

div.container {
    display: none;
    grid-template-columns: 70px 70px 70px 70px; 
    grid-gap: 70px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
  

.pauseStep {
    display: none;
}


.experiments {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px; 
    grid-gap: 70px;
}

.experimentButton {
    border: 0px;
    height: 70px;
    width: 70px;
    font-size: 25px;
    cursor: pointer;
}


.end {
    display: none;
}

.circle {
    cursor: pointer;
}